@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 62.5%;
    word-break: keep-all;
  }

  body {
    @apply text-14 font-400;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: none;
}
button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4fe570;
  border-radius: 2px;
}

.react-datepicker__day-name {
  @apply w-24 h-24 text-16 mx-8 mt-12;
}

.react-datepicker__current-month {
  @apply text-16 text-black;
}

.react-datepicker__month-dropdown,
.react-datepicker__month-option,
.react-datepicker__year-dropdown,
.react-datepicker__year-option,
.react-datepicker__month-read-view,
.react-datepicker__year-read-view {
  @apply text-black;
}

.react-datepicker__current-month {
  display: none;
}

.react-datepicker__month-dropdown-container,
.react-datepicker__year-dropdown-container {
  @apply text-black bg-white;
}

.react-datepicker__month-select,
.react-datepicker__year-select {
  @apply text-black bg-white;
}
